.body {
  background-color: #606060; }

.nav {
  background-color: #5A5A5A;
  color: #FFFFFF; }

.nav__title {
  text-decoration: none;
  color: #B9B9B9; }

.nav__item1 {
  text-decoration: none;
  color: #B9B9B9; }

.nav__item2 {
  text-decoration: none;
  color: #B9B9B9; }

.nav__item3 {
  text-decoration: none;
  color: #B9B9B9; }

.txt {
  text-align: center; }

.txt__ {
  text-align: center; }

nav {
  display: flex; }
  nav div {
    justify-content: center; }

.txt__qsomos {
  font-size: 25px;
  color: #303030; }

.txt__parrafo {
  text-align: center;
  padding: 40px;
  font-size: 40px; }

.txt__final {
  font-size: 15px;
  color: #303030; }

.footer__ {
  display: flex;
  margin-top: 50px;
  padding-bottom: 40px; }

.footer__titulo {
  font-size: 16px;
  font-style: italic;
  color: #5F5F5F; }

.footer__texto {
  color: #C5C5C5;
  font-size: 20px;
  color: #DCDCDC;
  text-decoration: none; }

.footer__lista__attalcliente {
  padding-top: 10px;
  font-size: 14px; }

.footer__lista__mapa {
  list-style: none;
  font-size: 14px;
  padding-top: 10px; }

.footer__link {
  text-decoration: none; }

.footer__link:hover {
  color: #70CEF5; }

.white-tog {
  color: #FFFFFF; }

.fieldset__ {
  background-color: #989797; }

.fieldset__legend {
  text-align: left;
  margin-left: 50px; }

.fieldset__suscripcion {
  text-align: center; }

.fieldset__button {
  float: left; }

.list__bg {
  background-color: #84A8FA; }

footer a:hover {
  color: #5F5FFB; }

footer a {
  text-decoration: none;
  color: #000000; }

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%); }

.footer__link {
  text-decoration: none; }

.footer__link:hover {
  color: #70CEF5; }

.not__titulo {
  font-size: 30px;
  padding: 20px;
  color: #C3C3C3; }

.acc__fontsize {
  font-size: 25px;
  text-align: justify;
  color: #D6D6D6; }

.acc__img {
  height: 900;
  width: 560; }

.acc__title {
  font-size: 25px;
  text-align: center; }

.acc__img3 {
  display: block;
  margin: auto; }

.list__title {
  background-color: #FFFFFF;
  font-size: 20px;
  margin-top: 100px;
  text-align: center; }

.iframe__div {
  text-align: center; }

.revista__titulo {
  font-size: 30px;
  margin-left: 100px; }

.revista__subtitulo {
  font-size: 20px;
  margin-left: 100px;
  padding-bottom: 10px; }

.divlista__footer {
  display: flex; }

.divlista__footer__center {
  justify-content: center; }

.iframe__div {
  height: 800px; }

.big__nav {
  font-style: italic;
  font-size: 25px; }

.sm__nav {
  font-size: 13px; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .footer__ {
    text-align: center; }
  .footer__lista__attalcliente {
    list-style: none; }
  .txt__parrafo {
    font-size: 15px;
    color: #B9B9B9;
    padding-bottom: 2px; }
  .acc__fontsize {
    font-size: 15px;
    text-align: justify;
    color: #9E9E9E; }
  .acc__subt {
    font-size: 10px; }
  .not__titulo {
    text-align: center; }
  .revista__subtitulo {
    padding-top: 20px; }
  .fieldset__legend {
    text-align: center; }
  .revista__titulo {
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px; }
  .revista__subtitulo {
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px; }
  .iframe__div {
    height: 400px; }
  .fieldset__legend {
    text-align: left;
    margin-left: 0px; } }
